<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893746203116-5rr5rpm0knr3kur47llbdh8gr1m58c5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893746203116-5rr5rpm0knr3kur47llbdh8gr1m58c5h</string>
	<key>API_KEY</key>
	<string>AIzaSyC8JNIFguWRwlqQ3pjtDLWwlGhhYThswxw</string>
	<key>GCM_SENDER_ID</key>
	<string>893746203116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleOcrApp</string>
	<key>PROJECT_ID</key>
	<string>room-loans-app</string>
	<key>STORAGE_BUCKET</key>
	<string>room-loans-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893746203116:ios:81d5a597e71fd181a598c9</string>
</dict>
</plist>